.ant-modal-content{
	button.ant-modal-close{
		width: auto!important;
		padding: 4px 15px!important;
		height: auto!important;
		background-color: transparent!important;
	}
	button.ant-btn{
		width: auto!important;
		padding: 10px 15px!important;
		height: auto!important;
		background-color: #1890ff!important;
		color: #fff;
	}
	.ant-select-selection-search-input{
		padding: 0;
	}
	.ant-input{
		margin-top: 24px;
	}
}