@import 'reset-css';

*{
	outline: none;
	margin: 0;
	padding: 0;
}

body, html, #root, .App, .App-header{
	color: #202002;
	font-size: 14px;
	background-color: #F2F2F2;
}
#root{
	display: block;
	height: 100vh;
}
button{
	text-transform: uppercase;
	width: 100%;
}
